.card {
  position: relative;
}

.card div {
  height: 100px;
  border-radius: 4px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  border: 2px solid #fff;
  cursor: pointer;
}

.card .front {
  position: absolute;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  width: 100%;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
} 